In [45]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [46]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [47]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [48]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [49]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [50]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [51]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [52]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [53]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [54]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [55]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('new_scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

#### ANN Regression Problem statement

In [56]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [57]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression and default activation is linear
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 64)                832

 dense_7 (Dense)             (None, 32)                2080

 dense_8 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [58]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [59]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [60]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 [==============================] - 2s 5ms/step - loss: 100384.5859 - mae: 100384.5859 - val_loss: 98547.3750 - val_mae: 98547.3750
Epoch 2/100
250/250 [==============================] - 1s 6ms/step - loss: 99742.1250 - mae: 99742.1250 - val_loss: 97247.3516 - val_mae: 97247.3516
Epoch 3/100
250/250 [==============================] - 2s 7ms/step - loss: 97451.4688 - mae: 97451.4688 - val_loss: 93881.5938 - val_mae: 93881.5938
Epoch 4/100
250/250 [==============================] - 3s 10ms/step - loss: 92906.7891 - mae: 92906.7891 - val_loss: 88195.3438 - val_mae: 88195.3438
Epoch 5/100
250/250 [==============================] - 2s 8ms/step - loss: 86152.5078 - mae: 86152.5078 - val_loss: 80608.3359 - val_mae: 80608.3359
Epoch 6/100
250/250 [==============================] - 2s 7ms/step - loss: 77861.7891 - mae: 77861.7891 - val_loss: 72268.4844 - val_mae: 72268.4844
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 69377.5234 - mae: 69377.5234 - val_loss: 64504.3906 - val_mae: 64504.3906
Epoch 8/100
250/250 [==============================] - 2s 7ms/step - loss: 61965.0039 - mae: 61965.0039 - val_loss: 58358.7031 - val_mae: 58358.7031
Epoch 9/100
250/250 [==============================] - 2s 7ms/step - loss: 56619.3867 - mae: 56619.3867 - val_loss: 54312.3047 - val_mae: 54312.3047
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 53349.4102 - mae: 53349.4102 - val_loss: 52112.7266 - val_mae: 52112.7266
Epoch 11/100
250/250 [==============================] - 1s 5ms/step - loss: 51642.2656 - mae: 51642.2656 - val_loss: 51232.3633 - val_mae: 51232.3633
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 50935.7578 - mae: 50935.7578 - val_loss: 50933.2578 - val_mae: 50933.2578
Epoch 13/100
250/250 [==============================] - 1s 4ms/step - loss: 50641.7109 - mae: 50641.7109 - val_loss: 50821.5625 - val_mae: 50821.5625
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 50488.6719 - mae: 50488.6719 - val_loss: 50770.5234 - val_mae: 50770.5234
Epoch 15/100
250/250 [==============================] - 1s 5ms/step - loss: 50394.8594 - mae: 50394.8594 - val_loss: 50716.1953 - val_mae: 50716.1953
Epoch 16/100
250/250 [==============================] - 1s 6ms/step - loss: 50326.0977 - mae: 50326.0977 - val_loss: 50665.4727 - val_mae: 50665.4727
Epoch 17/100
250/250 [==============================] - 2s 6ms/step - loss: 50268.7578 - mae: 50268.7578 - val_loss: 50626.5547 - val_mae: 50626.5547
Epoch 18/100
250/250 [==============================] - 1s 4ms/step - loss: 50219.0781 - mae: 50219.0781 - val_loss: 50580.1094 - val_mae: 50580.1094
Epoch 19/100
250/250 [==============================] - 1s 5ms/step - loss: 50177.9297 - mae: 50177.9297 - val_loss: 50550.9062 - val_mae: 50550.9062
Epoch 20/100
250/250 [==============================] - 1s 5ms/step - loss: 50139.6172 - mae: 50139.6172 - val_loss: 50515.4492 - val_mae: 50515.4492
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 50106.3164 - mae: 50106.3164 - val_loss: 50499.2656 - val_mae: 50499.2656
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 50068.9141 - mae: 50068.9141 - val_loss: 50476.1055 - val_mae: 50476.1055
Epoch 23/100
250/250 [==============================] - 1s 5ms/step - loss: 50041.7539 - mae: 50041.7539 - val_loss: 50456.6445 - val_mae: 50456.6445
Epoch 24/100
250/250 [==============================] - 1s 4ms/step - loss: 50011.6289 - mae: 50011.6289 - val_loss: 50441.3281 - val_mae: 50441.3281
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 49987.8516 - mae: 49987.8516 - val_loss: 50418.1758 - val_mae: 50418.1758
Epoch 26/100
250/250 [==============================] - 1s 6ms/step - loss: 49960.7656 - mae: 49960.7656 - val_loss: 50406.8242 - val_mae: 50406.8242
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 49934.2930 - mae: 49934.2930 - val_loss: 50392.9492 - val_mae: 50392.9492
Epoch 28/100
250/250 [==============================] - 1s 4ms/step - loss: 49915.7031 - mae: 49915.7031 - val_loss: 50373.5273 - val_mae: 50373.5273
Epoch 29/100
250/250 [==============================] - 2s 6ms/step - loss: 49892.5391 - mae: 49892.5391 - val_loss: 50361.8672 - val_mae: 50361.8672
Epoch 30/100
250/250 [==============================] - 1s 4ms/step - loss: 49873.7461 - mae: 49873.7461 - val_loss: 50356.6836 - val_mae: 50356.6836
Epoch 31/100
250/250 [==============================] - 1s 4ms/step - loss: 49851.4609 - mae: 49851.4609 - val_loss: 50342.9375 - val_mae: 50342.9375
Epoch 32/100
250/250 [==============================] - 1s 4ms/step - loss: 49835.1680 - mae: 49835.1680 - val_loss: 50330.5547 - val_mae: 50330.5547
Epoch 33/100
250/250 [==============================] - 1s 4ms/step - loss: 49817.3086 - mae: 49817.3086 - val_loss: 50320.4336 - val_mae: 50320.4336
Epoch 34/100
250/250 [==============================] - 1s 5ms/step - loss: 49800.4609 - mae: 49800.4609 - val_loss: 50313.3086 - val_mae: 50313.3086
Epoch 35/100
250/250 [==============================] - 1s 4ms/step - loss: 49783.6992 - mae: 49783.6992 - val_loss: 50305.4844 - val_mae: 50305.4844
Epoch 36/100
250/250 [==============================] - 1s 4ms/step - loss: 49768.8633 - mae: 49768.8633 - val_loss: 50287.9375 - val_mae: 50287.9375
Epoch 37/100
250/250 [==============================] - 1s 4ms/step - loss: 49749.7031 - mae: 49749.7031 - val_loss: 50285.8945 - val_mae: 50285.8945
Epoch 38/100
250/250 [==============================] - 1s 3ms/step - loss: 49737.3125 - mae: 49737.3125 - val_loss: 50281.3867 - val_mae: 50281.3867
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 49724.6172 - mae: 49724.6172 - val_loss: 50270.8203 - val_mae: 50270.8203
Epoch 40/100
250/250 [==============================] - 1s 4ms/step - loss: 49710.4844 - mae: 49710.4844 - val_loss: 50273.7461 - val_mae: 50273.7461
Epoch 41/100
250/250 [==============================] - 1s 4ms/step - loss: 49704.0859 - mae: 49704.0859 - val_loss: 50263.3711 - val_mae: 50263.3711
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 49687.3789 - mae: 49687.3789 - val_loss: 50261.8516 - val_mae: 50261.8516
Epoch 43/100
250/250 [==============================] - 1s 4ms/step - loss: 49678.3906 - mae: 49678.3906 - val_loss: 50257.0078 - val_mae: 50257.0078
Epoch 44/100
250/250 [==============================] - 1s 5ms/step - loss: 49665.0703 - mae: 49665.0703 - val_loss: 50256.2695 - val_mae: 50256.2695
Epoch 45/100
250/250 [==============================] - 1s 3ms/step - loss: 49654.4258 - mae: 49654.4258 - val_loss: 50248.9766 - val_mae: 50248.9766
Epoch 46/100
250/250 [==============================] - 1s 4ms/step - loss: 49646.0000 - mae: 49646.0000 - val_loss: 50245.5938 - val_mae: 50245.5938
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 49634.6758 - mae: 49634.6758 - val_loss: 50243.5156 - val_mae: 50243.5156
Epoch 48/100
250/250 [==============================] - 1s 4ms/step - loss: 49627.2422 - mae: 49627.2422 - val_loss: 50232.3281 - val_mae: 50232.3281
Epoch 49/100
250/250 [==============================] - 1s 4ms/step - loss: 49617.4453 - mae: 49617.4453 - val_loss: 50242.8789 - val_mae: 50242.8789
Epoch 50/100
250/250 [==============================] - 2s 6ms/step - loss: 49609.0742 - mae: 49609.0742 - val_loss: 50228.1680 - val_mae: 50228.1680
Epoch 51/100
250/250 [==============================] - 1s 5ms/step - loss: 49600.4961 - mae: 49600.4961 - val_loss: 50222.1289 - val_mae: 50222.1289
Epoch 52/100
250/250 [==============================] - 2s 6ms/step - loss: 49591.5742 - mae: 49591.5742 - val_loss: 50221.1992 - val_mae: 50221.1992
Epoch 53/100
250/250 [==============================] - 2s 8ms/step - loss: 49584.1133 - mae: 49584.1133 - val_loss: 50222.0664 - val_mae: 50222.0664
Epoch 54/100
250/250 [==============================] - 2s 6ms/step - loss: 49576.0078 - mae: 49576.0078 - val_loss: 50220.7188 - val_mae: 50220.7188
Epoch 55/100
250/250 [==============================] - 2s 7ms/step - loss: 49567.3633 - mae: 49567.3633 - val_loss: 50212.7734 - val_mae: 50212.7734
Epoch 56/100
250/250 [==============================] - 2s 6ms/step - loss: 49564.7969 - mae: 49564.7969 - val_loss: 50221.3516 - val_mae: 50221.3516
Epoch 57/100
250/250 [==============================] - 1s 4ms/step - loss: 49557.4844 - mae: 49557.4844 - val_loss: 50221.4414 - val_mae: 50221.4414
Epoch 58/100
250/250 [==============================] - 1s 6ms/step - loss: 49548.4609 - mae: 49548.4609 - val_loss: 50214.3750 - val_mae: 50214.3750
Epoch 59/100
250/250 [==============================] - 1s 4ms/step - loss: 49543.3398 - mae: 49543.3398 - val_loss: 50219.9766 - val_mae: 50219.9766
Epoch 60/100
250/250 [==============================] - 1s 4ms/step - loss: 49537.6016 - mae: 49537.6016 - val_loss: 50228.8398 - val_mae: 50228.8398
Epoch 61/100
250/250 [==============================] - 1s 4ms/step - loss: 49531.9570 - mae: 49531.9570 - val_loss: 50234.1836 - val_mae: 50234.1836
Epoch 62/100
250/250 [==============================] - 1s 4ms/step - loss: 49525.7695 - mae: 49525.7695 - val_loss: 50234.0195 - val_mae: 50234.0195
Epoch 63/100
250/250 [==============================] - 2s 7ms/step - loss: 49520.9453 - mae: 49520.9453 - val_loss: 50226.2969 - val_mae: 50226.2969
Epoch 64/100
250/250 [==============================] - 2s 7ms/step - loss: 49514.9805 - mae: 49514.9805 - val_loss: 50226.8555 - val_mae: 50226.8555
Epoch 65/100
250/250 [==============================] - 1s 4ms/step - loss: 49509.7734 - mae: 49509.7734 - val_loss: 50229.7461 - val_mae: 50229.7461

In [61]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [62]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6008 (pid 10064), started 5:13:59 ago. (Use '!kill 10064' to kill it.)

In [63]:
## Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 [==============================] - 0s 2ms/step - loss: 50212.7734 - mae: 50212.7734
Test MAE : 50212.7734375

In [64]:
model.save('regression_model.h5')

d:\ML_Projects\ANN Classification\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(